@import 'variables';

#boards-overview-wrapper, #board-view-wrapper {
    padding: $content-padding;
}

.board-overview-item, .board-new-button, .list-item {
    width: 200px;
    color: inherit;

    &:hover {
        color: inherit;
    }
}
