@import 'variables';

#boards-overview-wrapper { padding: $content-padding; }

#board-view-wrapper {
    padding: $content-padding;
}

.overview-item-wrapper, .list-item-wrapper {
    margin: 7px;
}

.board-overview-item, .board-new-button, .list-item {
    width: 200px;
    display: block;
    color: inherit;

    .extra.content:hover {
        color: $warning-red;
    }
}

.list-item {

    .list-menu-button {
        visibility: hidden;
        float:right;
    }

    &:hover {
        .list-menu-button {
            visibility: visible;
        }

    }
}

.board-overview-item {
    height: 150px;
}

.board-new-button.collapsed,
.list-new-button.collapsed,
.card-new-button.collapsed {
    cursor: pointer;

    &:hover {
        color: $blue1;
    }
}

.board-new-button.collapsed {
    height: 150px;
    line-height: 118px;
}

.list-new-button.collapsed {

}

.list-item {

}

.card-overview-item {
    margin: 0;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;

}