@import 'color';
@import 'parts';

#navbar {
    $logo-size: 22px;
    width: 100%;
    height: $logo-size;
    padding: 7px 20px;
    background-color: $blue1;
    box-shadow: 0px 1px 3px #999;

    #navbar-logo {
        width: $logo-size;
        height: $logo-size;
        background: url('/img/logo/logo-navbar.png');

        background-size: $logo-size $logo-size;
        background-repeat: no-repeat;

        margin: 0px 10px 0px 0px;
        float: left;
    }

    #navbar-title {
        font-size: 1.1em;
        color: $light-text;
        float: left;
    }

    #navigation {
        font-size: 0.9em;
        margin: 0px 15px;
        float: left;

        a {
            line-height: 1.4;
            padding: 0px 5px;
            color: $light-text;
        }
    }
}
