// @import 'normalize'; // normalize.css
@import 'includes';
@import 'parts';
@import 'navigation';
@import 'boards';
@import 'detail-view';


.clearfloat { clear: both; }
.block-elem { display: block; }
.inline-block-elem { display: inline-block; }
.grey.text {color: $grey-text}
.bold.text {font-weight: bold;}

.body-container {
    font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
    color: #333;
    min-height: 100%;
}

h1, h2, h3 {
    color: #000;
}

h1 {font-size: 2.5em}
h2 {font-size: 2em}
h3 {font-size: 1.5em}

a {
    text-decoration: none;
    color: #09f;
    cursor: pointer;
}

#app-content {
    min-height: 100%;
    text-align: center;
}

#login-segment {
    margin-top: 100px;
    #big-title {
        font-size: 2.5em;
        line-height: 1.2;
        $margin: 40px;
        margin: 0px $margin 10px $margin;
    }
}
